body{ 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('airplane.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    padding: 20px;
    width: 600px;
}

h2{
    color: #3498db;
    text-align: left;
    margin-bottom: 20px;
}

.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
}

.input-group input{
    flex: 1;
    padding: 10px;
    border: 1px solid lightcyan;
    border-radius: 8px;
}

.checkbox-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input{
    margin-right: 5px;
}

.btn{
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: #2980b9;
}